CompileFlags:
  Compiler: avr-gcc
  Add:
    - "-c"
    - "-Os"
    - "-Wall"
    - "-Wl,--gc-sections"
    - "-Wl,-static"
    - "-Wno-implicit-function-declaration"
    - "-Wno-incompatible-pointer-types"
    - "-Wno-int-conversion"
    - "-Wno-main-return-type"
    - "-fdata-sections"
    - "-ffunction-sections"
    - "-fno-builtin"
    - "-mrelax"
    - "-mmcu=atmega328p"
    - "-D__AVR_ATmega328P__="
    - "-DF_CPU=16000000UL"
    - "-DATMEGA"
    - "-I/usr/lib/avr/include/"
    - "-I/usr/avr/include/"
    - "-I./config"
    - "-I./include"
